html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 Changing settings...
      div
        h5 Here's a summary of your settings. When you're sure you can commit these.
        br
        br
      div
      block content
        h4= title

      form(id='config2' name='config' action='/commit', method='post')
         table(id='my-test-table' border='0')
            tr
               th(width='200') Setting
               th(width='100') Value
            tr
               td Hostname
               td 
                  value= config_rp_hostname
                  input(name='hostname', type='hidden', value= config_rp_hostname)
            tr
               td Audio HAT
               td
                  value= config_rp_audio
                  input(name='audio', type='hidden', value= config_rp_audio)
            tr
               td Audio USB
               td
                  value= config_rp_audio_usb
                  input(name='audio_usb', type='hidden', value= config_rp_audio_usb)
            tr
               td Reboot time
               td 
                  value= config_rp_reboottime
                  input(name='reboottime', type='hidden', value= config_rp_reboottime)
            tr
               td Timezone
               td 
                  value= config_rp_timezone
                  input(name='timezone', type='hidden', value= config_rp_timezone)
            if (config_rp_touchscreen_detected== '1')
               tr
                  td Touchscreen Orientation
                  td
                     value= config_rp_touchscreen_orientation
                     input(name='touchscreen_orientation', type='hidden', value= config_rp_touchscreen_orientation)
               tr
                  td Touchscreen Rone Zone
                  td
                     value= config_rp_touchscreen_zone
                     input(name='touchscreen_zone', type='hidden', value= config_rp_touchscreen_zone)
         br
         br
         input(type='submit', value='Commit Changes')
      button(type='button', value='cancel', target='_blank', onclick="location.href='/';") Cancel
